In [ ]:
from datascience import *
import numpy as np

## Arrays

**Question:** There are five students with heights 67, 60, 71, 63, and 65. Create a column with these heights and THAT CAN BE USED FOR COMPUTATION of the average age.

In [ ]:
heights = make_array(67, 60, 71, 63, 65)
heights

**Question:** The heights of all students were initially measured in inches. Can you convert each to feet, using a conversion factor of 1 foot = 12 inches?

In [ ]:
heights / 12

**Question:** How many heights were observed and entered into the array?

In [ ]:
len(heights)

**Question:** What is the sum of all the heights observed for all students?

In [ ]:
sum(heights)

**Question:** Can you use the output for `len(heights)` and `sum(heights)` to compute the average height?

In [ ]:
sum(heights) / len(heights)

**Question:** In real practice, should you find the average height using the last line of code above? What is a ready-made/custom function already devoted to computing the average of values in an array?

In [ ]:
np.average(heights)

**Question:** Do arrays only have numerical entries? Try building an array of strings below and see run it to see if it works!

In [ ]:
strings_array = make_array('ok', 'ya', 'hm')
strings_array

**Question:** Multiply the array you created above by 2 and see what happens?

In [ ]:
strings_array * 2

In [ ]:
**Question:** Multiply any string entry in `strings_array` above by 2 to compare the output with the last output you got.

In [ ]:
'ok' * 2

**Question:** What is the height of the fourth student in the array `heights`?

In [ ]:
heights.item(3)

**Question:** What is the height of the first student in the array `heights`?

In [ ]:
heights.item(0)

**Question:** What is the first word in the array `strings_array`?

In [ ]:
strings_array.item(0)

## Ranges ##

How to create a `Range` of numbers without having to type all entries individually?

**Question:** Create an array having the range of numbers 0, 1, 2, 3, 4, 5, and 6.

In [ ]:
make_array(0, 1, 2, 3, 4, 5, 6)

**Question:** Is there a faster, more efficient way to create the range above?

In [ ]:
np.arange(7)

**Question:** Create an array with the range of numbers  5,  6,  7,  8,  9, and 10

In [ ]:
np.arange(5, 11)

**Question:** Create an array with the range of numbers  0,  2,  4,  6,  8, ... , 18

In [ ]:
np.arange(0, 20, 2)

**Question:** Create an array with the range of numbers  0,  2,  4,  6,  8, ... , 20

In [ ]:
np.arange(0, 21, 2)

**Question:** Create an array with the range of numbers  0,  0.1,  0.2,  0.3,  0.4, ... , 0.9

In [ ]:
np.arange(0, 1, 0.1)

**Question:** Create an array with the range of numbers 0 to 7. Name the array `a`.

In [ ]:
a = np.arange(8)

In [ ]:
a

**Question** Return the eighth entry in the array `a` that you just created above.

In [ ]:
a.item(8) # Error Alert! Don't let that get you!

In [ ]:
a.item(7) # Correct way to the the required answer

In [ ]:
a.item(-1) # Another UNCOMMON way to get the answer but also required.

## Creating a Table from Scratch ##

Create the following table:

<img src="sample_table.png">

In [ ]:
streets = make_array('Franklin', 'East Rosemary', 'North')
streets

In [ ]:
Table()

In [ ]:
North_of_Campus = Table().with_column('Streets', streets)
North_of_Campus

In [ ]:
North_of_Campus.with_column('Blocks North of campus', np.arange(3))

In [ ]:
North_of_Campus

In [ ]:
North_of_Campus = North_of_Campus.with_column('Blocks North of campus', np.arange(3))
North_of_Campus

**Question** What are the names/labels of all columns in the table you created?

In [ ]:
North_of_Campus.labels

**Question** How many columns are there in the table you created?

In [ ]:
North_of_Campus.num_columns

**Question** How many rows are there in the table you created?

In [ ]:
North_of_Campus.num_rows

## Reading a Table from a File  ##

In [ ]:
du_bois = Table.read_table('du_bois.csv')
du_bois

**Question:** On average, how much does each class/status spend on food?

In [ ]:
du_bois.select('STATUS')

In [ ]:
du_bois.column('STATUS')

In [ ]:
du_bois.column('ACTUAL AVERAGE')

In [ ]:
du_bois.column('FOOD')

In [ ]:
du_bois.column('ACTUAL AVERAGE') * du_bois.column('FOOD')

In [ ]:
food_dollars = du_bois.column('ACTUAL AVERAGE') * du_bois.column('FOOD')
du_bois = du_bois.with_column(
    'Food $',
    food_dollars
)
du_bois

In [ ]:
du_bois.set_format('FOOD', PercentFormatter)

In [ ]:
du_bois.select('CLASS', 'ACTUAL AVERAGE', 'FOOD', 'Food $')

In [ ]:
du_bois.column('FOOD')

### Back to Minard ###

In [ ]:
minard = Table.read_table('minard.csv')
minard

In [ ]:
# What percentage of Napoleonâ€™s troops were still alive in each city of the advance and retreat?

In [ ]:
minard.select('City')

In [ ]:
minard.column('City')

In [ ]:
minard.column('Survivors')

In [ ]:
initial_size = minard.column('Survivors').item(0)
initial_size

In [ ]:
minard.column('Survivors') / initial_size

In [ ]:
minard = minard.with_column(
    'Pct alive', 
    minard.column('Survivors') / initial_size)
minard

In [ ]:
minard.set_format('Pct alive', PercentFormatter)

In [ ]:
minard.column('Pct alive')