In [ ]:
from datascience import *

## Words of Caution ##
- Remember to run the cell above. It's for setting up the environment so you can have access to what's needed for this lecture. For now, don't worry about what it means: we'll learn more about

## Python ##

- Python code can be used to evaluate arithmetic computations
- Python code can also contain word too!

In [ ]:
2 + 9

In [ ]:
2 * 9

In [ ]:
2 / 9

In [ ]:
2 + 3 * 9

In [ ]:
(2 + 3) * 9

In [ ]:
# two to the power of four: 2 * 2 * 2 * 2
2 ** 4

In [ ]:
'hello'

## Names ##

In natural language, we have terminology that lets us quickly reference very complicated concepts.  We don't say, "That's a large mammal with brown fur and sharp teeth!"  Instead, we just say, "Bear!"

In Python, we do this with *assignment statements*. An assignment statement has a name on the left side of an `=` sign and an expression to be evaluated on the right.

In [ ]:
a = 4

In [ ]:
a

In [ ]:
b = 9

In [ ]:
b

In [ ]:
a * 3

In [ ]:
total = a + b

In [ ]:
total

In [ ]:
a = 10

In [ ]:
total

In [ ]:
total = a + b

In [ ]:
total

Please note the difference between the `total` in the cell above and below.

In [ ]:
'total'

### Why Names?

Question: Suppose an individual is expected to work 40 hours per week. How many hours in total is this individual expected to work on a yearly basis?

In [ ]:
hours_per_week = 40
weeks_per_year = 52

In [ ]:
hours_per_year = hours_per_week * weeks_per_year

In [ ]:
hours_per_year

Question: Suppose the same individual works in North Carolina where the minimum wage is $7.25 and is expected to work 40 hours per week. If weekly hour expectations are met, what is the total weekly take-home pay of the individual?

In [ ]:
# Minimum wage

nc_hourly_minimum_wage = 7.25

In [ ]:
weekly_wages = hours_per_week * nc_hourly_minimum_wage
weekly_wages

In [ ]:
yearly_wages = hours_per_year * nc_hourly_minimum_wage
yearly_wages

In [ ]:
40 * 7.25

In [ ]:
40 * 52 * 7.25

According to the Living Income Standard—a market-based assessment of what it takes to make ends meet—a family with one adult and one child needs to earn $33,700 per year (16.20/hr) in order to afford the basics.

## Functions and Call Expressions

In [ ]:
abs(-5)

In [ ]:
abs(1 - 3)

In [ ]:
day_temp = 52
night_temp = 47
abs(night_temp - day_temp)

In [ ]:
min(14, 15)

In [ ]:
round(123.456)

In [ ]:
round(123.456, 1)

In [ ]:
round(123.456, ndigits=1)

## Tables ##

To write Python code to analyze a dataset, we are using JupyterLab in this class. You will need to "load" the dataset into the JupyterLab notebook. 

The `datascience` module provides a function and/or method that enables us to load or read our dataset into the notebook. The simplest syntax/correct way of typing this function is: `Table.read_table("name_of_table.csv")`

See an example of how to load the CSV dataset file below.

In [ ]:
Cereal = Table.read_table('Cereal.csv')

# Explicitly see the first ten rows of the table.
Cereal

In [ ]:
# Show the first three rows in your Jupyter Notebook.
# ALERT! This output does not show on Gradescope!

Cereal.show(3)

In [ ]:
Cereal.show()

In [ ]:
# Choose only one column(Company) out of the table.

Cereal.select('Company')

In [ ]:
# Choose only two columns(Company and Calories) out of the table.

Cereal.select('Company', 'Calories')

In [ ]:
# When choosing, remember that column names are words.
# Do not forget to include the single/double quotation marks

Cereal.select(Company, 'Calories')

In [ ]:
# Get the whole data without an unwanted column(Company)


Cereal.drop('Company')

In [ ]:
# Did the drop above change the original data set?

Cereal

In [ ]:
# Save the updated data set without the column using a new name.

Cereal_without_Company = Cereal.drop('Company')
Cereal_without_Company

Question: Suppose we are only interested in doing some analysis on only cereals made by the Quaker company. How would you get a subset of this dataset for the Quaker company?

In [ ]:
# Use the WHERE clause to choose rows OF A COLUMN that meet a criterion

Cereal.where('Company', 'Quaker')

Question: In the `Cereal` dataset, which cereal has the least amount of calories?

In [ ]:
Cereal.sort('Calories')

Question: In the `Cereal` dataset, which cereal has the greatest amount of calories?

In [ ]:
Cereal.sort('Calories', descending=True)

Question: For the `Cereal` dataset, return a version of the dataset where rows are arranged in REVERSE alphabetical order of Company name.

In [ ]:
Cereal.sort('Company', descending=True)

### A more interesting table

In [ ]:
Arrests = Table.read_table('Police_Arrests_Made.csv')
Arrests

Question: In the `Arrest` dataset, what are the different types of primary charges recorded? Return a table that sets the most common type of primary charge on top.

In [ ]:
Arrests.group('Primary_Charge').sort('count', descending=True)

Question: From the `Arrest` dataset, return a table  where the primary charge is 'OPEN CONTAINER'

In [ ]:
Arrests.where('Primary_Charge', 'OPEN CONTAINER')

Question: You are a data analyst for the city of CARRBORO. Return a part of the `Arrest` dataset for all arrests made in the city of CARRBORO.

In [ ]:
Arrests.where('City', 'CARRBORO')

Question: You are a data analyst for the city of CARRBORO. Return a part of the `Arrest` dataset for all arrests made in the city of CARRBORO, sorted by Age from the youngest to the oldest.

In [ ]:
Arrests.where('City', 'CARRBORO').sort('Age')

Question: You are a data analyst for the city of CARRBORO. Return a part of the `Arrest` dataset for all arrests made in the city of CARRBORO, sorted by Age from the oldest to the youngest.

In [ ]:
Arrests.where('City', 'CARRBORO').sort('Age', descending=True)