In [ ]:
from datascience import *
import numpy as np

## Review of Tables ##

In [ ]:
skyscrapers = Table.read_table('skyscrapers.csv')
skyscrapers

**Question:** Suppose you are only interested in the `names` and `heights` of the skyscrapers, return a table having only the columns/variables `name` and `height`.

In [ ]:
skyscrapers.select('name', 'height')

**Question:** Suppose you are interested in analyzing all variables in the table EXCEPT the variables `completed`, `height`, and `material`. Can you return a table suitable for this purpose(that is, a table with all the variables but without  `completed`, `height`, and `material`)?

In [ ]:
skyscrapers.drop('completed', 'height', 'material')

**Question:** Based on the last task you completed above, has the number of columns in the original data set `skyscrapers` changed? Call on the name of the data set to check this in the cell below.

In [ ]:
skyscrapers

**Question:** Based on the last task you completed above, has the number of columns in the original data set `skyscrapers` changed? Call on the name of the data set to check this in the cell below.

In [ ]:
skyscrapers.where('city', 'Charlotte')

**Question:** Is there any skyscaper in your data set  named `Empire State Building`?

In [ ]:
skyscrapers.where('name', 'Empire State Building')

**Question:** Which skyscaper in `New York City` is the oldest standing skyscraper based on year of completion?

In [ ]:
skyscrapers.where('city', 'New York City').sort('completed')

**Question:** Which skyscaper in `New York City` was most recently completed?

In [ ]:
skyscrapers.where('city', 'New York City').sort('completed', descending=True)

**Question:** When is it a good practice to drop a column/variable?

In [ ]:
chicago = skyscrapers.where('city', 'Chicago').drop('city')
chicago

**Question:** What is the oldest skyscraper in the city of `Chicago` that was made of Steel?

In [ ]:
chicago.where('material', 'steel').sort('completed', descending=True)

## Numbers ##

In [ ]:
4 * 5

In [ ]:
20  # int

In [ ]:
20 / 3  # float

In [ ]:
20 / 2  # also a float

In [ ]:
1234 ** 5

In [ ]:
123456789 ** 1234

In [ ]:
4 / 700

In [ ]:
4 / 700000000000000000

In [ ]:
0.12345678901234567890123456789

In [ ]:
0.12345678901234567890123456789 - 0.1234567890123456789

In [ ]:
10 ** 0.5

In [ ]:
16 ** 0.5

In [ ]:
(10 ** 0.5) ** 2

In [ ]:
20 / 10

In [ ]:
int(20 / 10)

In [ ]:
int(20 / 9)

In [ ]:
float(3)

In [ ]:
6 / 4

In [ ]:
6 / 4000

In [ ]:
6 / 400000000000000000000000000000000000000000000000000000000

In [ ]:
400000000000000000000000000000000000000000000000000000000 * 1.5e-56

In [ ]:
1.5e-56

In [ ]:
x = 5

In [ ]:
2x

In [ ]:
2 * x

In [ ]:
round(3.7)

In [ ]:
round(2.00000052345324, 2)

In [ ]:
10 * 3.0

## Strings ##

In [ ]:
'I am tired'

In [ ]:
"I'm tired"

In [ ]:
'I'm tired'

In [ ]:
'water' + 'melon' # concatenation

In [ ]:
'water' + ' ' + 'melon'

In [ ]:
'ha' * 10

In [ ]:
'lo' * 5.5

In [ ]:
int('3')

In [ ]:
int('3.0')

In [ ]:
float('3.0')

In [ ]:
str(3)

In [ ]:
str(4.5)

## Types ##

In [ ]:
type(10)

In [ ]:
a = 10
type(a)

In [ ]:
type(4.5)

In [ ]:
type('abc')

In [ ]:
type(skyscrapers)

In [ ]:
type(True)

In [ ]:
type(abs)

## Arrays ##

In [ ]:
my_array = make_array(1, 2, 3, 4)

In [ ]:
my_array

In [ ]:
my_array * 2

In [ ]:
my_array ** 2

In [ ]:
my_array + 1

In [ ]:
my_array # array is unchanged

In [ ]:
len(my_array)

In [ ]:
sum(my_array)

In [ ]:
sum(my_array) / len(my_array)

In [ ]:
np.average(my_array)

In [ ]:
another = make_array(60, 70, 80, 90)

In [ ]:
my_array + another

In [ ]:
yet_another = make_array(5, 6, 7)

In [ ]:
my_array + yet_another

In [ ]:
buildings = make_array('Hanes', 'Gardner', 'Dey')
buildings

## Columns of Tables are Arrays ##

In [ ]:
Arrests_Carrboro = Table.read_table('Police_Arrests_Made.csv').where('City', 'CARRBORO')
Arrests_Carrboro

**What is the difference between a  `Table` and an `array`?**

In [ ]:
Arrests_Carrboro.select('Age')

**Note:** When you want to implement a calculation based on a collection of data values(an array), you need the `.column()` function.

In [ ]:
Arrests_Carrboro.column('Age')

In [ ]:
np.max(Arrests_Carrboro.column('ObjectId'))

In [ ]:
np.average(Arrests_Carrboro.column('Age'))

**Note:** When a variable has a missing value(displayed as `nan`), which function should you use to find the average/mean?

In [ ]:
np.nanmean(Arrests_Carrboro.column('Age'))

In [ ]:
Carrboro_OP = Arrests_Carrboro.where('Primary_Charge', 'OPEN CONTAINER')

In [ ]:
np.nanmean(Carrboro_OP.column('Age'))

**Question:** Based on the data set `Police_Arrests_Made.csv`, find the average age of a person who was arrested whose primary charge is `OPEN CONTAINER` in the city of CHAPEL HILL.

In [ ]:
CH_OP = Table.read_table('Police_Arrests_Made.csv').where('City', 'CHAPEL HILL').where('Primary_Charge', 'OPEN CONTAINER')
CH_OP

In [ ]:
np.nanmean(CH_OP.column('Age'))